*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.hero{
  width: 100%;
  height: 55em;
  background-color:none;
}

.text h1{
  margin-top: 1em;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #0866ff;

}

.hero1 p{
  font-size: 21px;
}

.line{
  margin-top: 1em;
  width: 30em;
  border: 1px solid grey;
  margin-left:2px;
}
.con{
  display: flex;
  justify-content: center;
  width: 30em;
  height: 45em;
  border: 1px solid grey;
  margin-left: 27em;
  margin-top: 2em;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0 ,0 ,0.2 );
}
.inside1{
  text-align: center;
  padding: 15px;
}

.inside1 h1{
  font-weight: bold;
}
.inside1 p{
  color: grey;
  font-weight: bold;
}
.inside2 #aa{
  margin-top: 4em;
  width: 15em;
  height: 3em;
  margin: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
}
.inside3 label{
margin-right: 21em;
color: grey;
}    
.inside3 #dob{
  margin-top: 1em;
  width: 8.7em;
  height: 3em;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}
#lg{
  margin-right: 23em;
  color: grey;
}

.insidey{
  margin-top: 1em;
}
.insidey label{
  display: flex;
  align-items: center;
  gap: 10px;
}
.inside4{
  display: flex;
  justify-content: space-evenly;
}
.inside4 label{
 padding: 10px;
 border: 1px solid grey;
 border-radius: 5px;
 text-align: center;
 cursor: pointer;
}

.insidex{
  margin-top: 1em;
}

.inside5 #cc{
  width: 30em;
  height: 4em;
  padding: 10px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}
.con input:focus,select:focus,label:focus{
  border: 2px solid #1877F2; 
  outline: none; 
  transition: border 0.3s ease-in-out;
}
#cc:focus { 
  border-color:#1877F2; 
}
#aa:focus {
  border-color:#1877F2;
}
#dob:focus {
  border-color:#1877F2;
}
#gg:focus {
  border-color:#1877F2;
}



.inside6 p {
  margin: 15px;
  text-align: center;
}
.inside6 a{
  text-decoration: none;
}
.inside7 #btn{
  width:15em;
  height: 3em;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.inside8 h2{
  color:lightseagreen;
  font-size: 21px;
  font-weight: bold;
}

.inside8 a{
  font-size: 17px;
  text-decoration: none;
  color: #1877F2;
  font-weight: bold;
}


